.header {
    font-family:verdana;
    padding-left: 10px;
    width: 99%;
    padding: 10px;
    background-color:lightblue;
    text-align: center;
    ;
}
.bg1{
    background-color: coral ;
}
.bg2{
    background-color: khaki ;
}
.bg3{
    background-color: darksalmon ;
}

.post_title {
    font-family:verdana;
    float: left;
    color: white;
    padding-left: 15px;
    margin: 15px 15px 0px 15px;
    width: 97%;
    height: 200px;
    background-color: #3fd9b4;
}
.img_title {
    font-family:verdana;
    float: left;
    padding-left: 15px;
    color: white;
    width: 110px;
    height: 110px;
    background-color: #3fd9b4;
}
.grid{
    grid-template-columns: auto auto auto;
    display: inline-grid;
    column-gap: 15px;
    row-gap: 5px;
    font-family:verdana;
}
.grid_inside{
    font-family:verdana;
text-align: center;
}

.card {
    font-family:verdana;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_inside{
    font-family:verdana;
    text-align: center;
    height: 300px;
    width: 150px;
    margin:  10px;
    border:  1px solid black;
    line-height: 150px;
    background-color: darkgreen;
}

